.baseLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  background-color: #f8f9fa;
}

.mainContent {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}